@font-face {
    font-family: "Bauhaus Std Demi";
    src: url("/font/Bauhaus\ Std\ Demi.otf");
}

@font-face {
    font-family: "Bauhaus Std Medium";
    src: url("/font/Bauhaus\ Std\ Medium.otf");
}

:root{
    --primary-color: #FCFBF7;
    --secondary-color: #353938;
}

/*----------------------------------*/
body{
    background-color: #EFEBD8;
}

.btn-black-discover {
    background-color: var(--secondary-color);
    width: 438px;
    height: 100px;
    border-bottom-left-radius: 0 !important;
}

.btn-number{
    width: 23px;
    height: 23px;
    background-color:#F3BB81;
}

.btn-number-orange{
    width: 23px;
    height: 23px;
    background-color:#F78712;
    color: var(--primary-color) !important;
}

.btn-orange{
    background-color: #F3BB81;
    width: 100px;
    height: 100px;
}

.btn-orange-click{
    background-color:#F78712;
}

.btn-orange-pop{
    width: 65px;
    height: 65px;
    background-color: #F78712;
}

.btn-blu-pop{
    width: 65px;
    height: 65px;
    background-color: #61A5FF;
    border: 4px solid #F78712;
}

.btn-blu-pop-2{
    width: 50px;
    height: 50px;
    background-color: #61A5FF;
    border: 4px solid #F78712;
}

.btn-yellow-pop{
    width: 65px;
    height: 65px;
    background-color: #FFBB00;
    border: 4px solid #F78712;
}

.btn-yellow-pop-2{
    width: 50px;
    height: 50px;
    background-color: #FFBB00;
    border: 4px solid #F78712;
}

.btn-result{
    width: 175px;
    height: 175px;
    background-color: #F78712;
}

.btn-x{
    background-color:#F78712 ;
    width: 50px;
    height: 50px;
}

.btn-block{
    background-color:#F3BB81;
    width: 50px;
    height: 50px;
}

.black-text{
    color: var(--secondary-color);
    font-family: "Bauhaus Std Demi";
}

.black-text-medium{
    color: var(--secondary-color);
    font-family: "Bauhaus Std Medium";
}

.btn-grey{
    width: 160px;
    height: 50px;
    background-color: #D9D9D9;
}

.btn-book{
    width: 160px;
    max-width: 220px;
    height: 50px;
    background-color: var(--secondary-color);
}

.btn-black-search {
    background-color: var(--secondary-color);
    width: 94px;
    height: 37px;
}

.btn-work {
    width: 150px;
    height: 150px;
    background-color: #F78712;
}

.cardact{
    width: 600px;
    height: 284px;
}

.card-green{
    width: 407px;
    height: 307px;
    background-color: #45734C;
}

.card-green-2{
    width: 165px;
    height: 88px;
    background-color: #45734C;
}

.card-green :nth-child(1){
    width: 307px;
    height: 307px;
}

.card-green-2 :nth-child(1){
    width: 88px;
    height: 88px;
}

.cont{
    width: 929px;
}

.dec-green{
    width: 177px;
    height: 184px;
}

.decoration{
    width: 285px;
    height: 915px;
}

.decoration :nth-child(2){
    top: 180px;
    left: 102px;
}

.decoration :nth-child(3){
    top: 550px;
    left: 102px;
}

.decoration-orange{
    top:880px;
    left: 340px;
}

.dec-orange :nth-child(2){
    left:162px;
}

.dec-orange :nth-child(3){
    left:324px;
}

.dec-orange :nth-child(4){
    left:486px;
}

.dec-orange :nth-child(5){
    left:648px;
}

#filter{
    top: 881px;
    left: 157px;
}

#filter:focus{
    background-color: #F78712;
}

.hide{
    display:none;
}

.info{
    top:989px;
    left:344px;
    width:710px;
}

.icon-group-2{
    left: 80px;
}

.green-tip{
    top: 805px;
    left: 1300px;
}

.orange-text{
    color:#F78712;
    font-family: "Bauhaus Std Demi";
}

.pop {
    width: 497px;
    height: 284px;
    background-color: var(--primary-color);
}

.qr{
    width: 247px;
    height: 247px;
    border: 2px solid #CCCCCC;
}

.section-green{
    background-color: #45734C;
}

.search-bar{
    width: 390px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-family: "Bauhaus Std Medium";
    height: 37px;
}

.search-bar:focus{
    outline:none;
    border-color: #8FA693;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.splide__arrow--prev{
    left:290px !important;
}

.splide__arrow--next{
    right:310px !important;
}

.splide__arrow {
    background: none !important;
}

.test{
    background-color: var(--primary-color);
    width: 1170px;
    height: 683px;
    top: 120px;
    left: 375px;
}

.visibility{
    visibility: hidden;
}

.white-text{
    color: var(--primary-color);
    font-family: "Bauhaus Std Demi";
}

.white-text-medium{
    color: var(--primary-color) !important;
    font-family: "Bauhaus Std Medium";
}