@font-face {
    font-family: "Bauhaus Std Demi";
    src: url("/font/Bauhaus\ Std\ Demi.otf");
}

@font-face {
    font-family: "Bauhaus Std Medium";
    src: url("/font/Bauhaus\ Std\ Medium.otf");
}

.black-text{
    color: var(--secondary-color);
    font-family: "Bauhaus Std Demi";
}

.black-text-medium{
    color: var(--secondary-color);
    font-family: "Bauhaus Std Medium";
}

.white-text{
    color: var(--primary-color);
    font-family: "Bauhaus Std Demi";
}

.white-text-medium{
    color: var(--primary-color) !important;
    font-family: "Bauhaus Std Medium";
}

.back-verde-il {
    width: 221px;
    height: 171px;
    background: #45734C;    
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
}
.back-green-act {
    width: 250px;
    height: 200px;
    background: #45734C;
}
.back-green-act :nth-child(1){
    width: 200px;
}


.base-icon {
    height: 40px;
    width: 40px;
    background-color: #F78712;
}

.icon-yellow {
    height: 40px;
    width: 40px;
    background-color: #FFBB00;
    border: 3px solid #F78712;
}
.icon-blue {
    height: 40px;
    width: 40px;
    background-color: #61a5ff;
    border: 3px solid #F78712;
}
.icon-red {
    height: 40px;
    width: 40px;
    background-color: #C70039;
    border: 3px solid #F78712;
}
.icon-purple {
    height: 40px;
    width: 40px;
    background-color: #AC02CA;
    border: 3px solid #F78712;
}

.position-ico-group {
    top: 218px;
}

.icon-group, .icon-group-welcome{
    top: 192px;
}

.icon-group{
    left: 70px;
}
.icon-group-welcome{
    left: 45px;
}

.text-pos {
    top:47px;
}

.btn-details {
    width: 130px !important;
    height: 50px;
    background-color: #353938;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    top: 234px;
    left: 470px;
}
.btn-details-il {
    width: 130px !important;
    height: 50px;
    background-color: #353938;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    top: 197px;
    left: 414px;
}

.card-act{
    width: 600px;
    height: 284px;
    background-color: #FCFBF7;
    overflow: hidden;
}

.card-infoluoghi{
    width: 544px;
    height: 247px;
    background-color: #FCFBF7;
    overflow: hidden;
}
#cardmap-start{left: 0;}
.card_map, #cardmap-start{
    top: 800px;
}
.card_map{
    left: -544px;
}
.card_animation{
    transition-duration: 1s;
    translate: 544px;
}

.carousel{
    overflow: hidden;
    position: absolute !important;
    width: 1920px;
}

.carousel_content{
    width: 2520px;
    left: -310px;
}

.carousel_content_il{
    width: 2296px;
    left: -100px;
}
.car_il1{
    top: 171px;
}
.car_il2{
    top: 458px;
}

.car_il3{
    top: 745px;
}
.imm-il{
    width: 171px;
    margin-left: 50px;
    height: 171px;
}
.imm-news{
    width: 172px;
    margin-left: 40px;
}
.cardmap-unselected{
    display: none;
}
.card-news {
    width: 432px;
    height: 172px;
    border-radius: 20px;
    background: #FCFBF7;
}
.card-mission {
    height: 272px;
    width: 557px;
    background: #FCFBF7;
}
.back-orange-news {
    width: 212px;
    height: 172px;
    background: #F78712;
}
.back-green-mission {
    width: 212px;
    height: 172px;
    background: #45734C;    
    
}
.car_activity1{
    top: 130px;
}
.car_activity2{
    top: 505px;
}

