@font-face {
    font-family: "Bauhaus Std Demi";
    src: url("/font/Bauhaus\ Std\ Demi.otf");
}

@font-face {
    font-family: "Bauhaus Std Medium";
    src: url("font/Bauhaus\ Std\ Medium.otf");
}
/* body {
    overflow: hidden;
} */
h1, h2, h3, h4, h5, h6 {font-family: "Bauhaus Std Demi";}
p {
    font-family: "Bauhaus Std Medium";
}

:root{
    --primary-color: #FCFBF7;
    --secondary-color: #353938;
}

/*----------------------------------*/
.btn-black-report{
    background-color: #353938;
    width: 438px;
    height: 100px;
    top: 871px;
    left: 77px;
}

.legend{
    top: 534px;
    left: 77px;
}

.legend-single{
    top: 650px;
    left: 77px;
    width: 553px;
    height: 100px;
}

.news{
    top: 95px;
    left: 808px;
    color: var(--secondary-color);
    font-family: "Bauhaus Std Demi";
}

.mission{
    top: 615px;
    left: 808px;
    color: var(--secondary-color);
    font-family: "Bauhaus Std Demi";
}

.section-green{
    background-color: #45734C;
    width: 753px;
    height: 1029px;
}

.white-text{
    color: var(--primary-color);
    font-family: "Bauhaus Std Demi";
}

.white-text-medium{
    color: var(--primary-color);
    font-family: "Bauhaus Std Medium";
}
.carousel{
    overflow: hidden;
    position: absolute !important;
}
.car_expl1{
    top: 190px;
    
}
.car_expl2{
    top: 410px;
    
}
.car_expl3{
    top: 710px;
    
}
.carousel_content_explorer{
    width: 1848px;
    left: 360px;
}
.carousel_content_explorer1{
    width: 1751px;
    left: 235px;
}


.splide__arrow {
    background: none !important;
}
.mission-prev{
    left:790px !important;
}
.mission-next{
    right:490px !important;
}
.news-prev{
    left:790px !important;
}
.news-next{
    right:142px !important;
}
.map{
    height: 550px;
}
.map canvas {
    border-radius: 25px;
}
.H_imprint{
    display: none;
}
.container-explorer{
    width: 1920px;
    height: 1080px;
}
.btn-black-ok {
    background-color: var(--secondary-color);
    width: 94px;
    height: 37px;
}
.btn-work {
width: 150px;
height: 150px;
background-color: #F78712;
}

.pop {
width: 497px;
height: 284px;
background-color: var(--primary-color);
}
.mrk-adjust-pos{
    transform: translate(-50%, -50%);
    }
    
#bg-work{
    
    background-color: var(--secondary-color);
}