@font-face {
    font-family: "Bauhaus Std Demi";
    src: url("/font/Bauhaus\ Std\ Demi.otf");
}

@font-face {
    font-family: "Bauhaus Std Medium";
    src: url("font/Bauhaus\ Std\ Medium.otf");
}

:root{
    --primary-color: #FCFBF7;
    --secondary-color: #353938;
}

/*----------------------------------*/
.accessibility {
    width: 1170px;
    height: 683px;
    background-color: var(--primary-color);
    left: 370px;
    top: 135px;
}

body{
    background-color: #EFEBD8;
}

.black-text {
    color: var(--secondary-color);
    font-family: "Bauhaus Std Demi";
}

.black-text-medium {
    color: var(--secondary-color);
    font-family: "Bauhaus Std Medium";
}

.black-block{
    width:1920px;
    height: 1080px;
    background-color: var(--secondary-color);
}

.btn-black {
    background-color: #353938;
    width: 150px;
    height: 50px;
    border-bottom-left-radius: 0 !important;
}

.btn-black-search-2{
    background-color: var(--secondary-color);
    width: 94px;
    height: 37px;
}

.btn-round-home{
    height: 21.1em;
    width: 21.1em;
    background-color: var(--secondary-color);
}

.btn-round-home:focus{
    background-color: #F78712;
}

.btn-round-bottom{
    height: 6.9em;
    width: 6.9em;
    background-color: var(--secondary-color);
    border-radius: 50%;
}

.btn-round-bottom:focus{
    background-color: #F78712;
}

.btn-round-nav-3 {
    height: 60px;
    width: 60px;
    background-color: var(--secondary-color);
    border-radius: 50%;
}

.btn-round-nav-3:active {
    background-color: #F78712 !important;
    border-color: #F78712 !important;
}

.btn-switch {
    width: 130px !important;
    height: 40px !important;
    background-color: #8FA693 !important;
    border-color: #8FA693 !important;
    margin-top: 0 !important;
}

.btn-work{
    width: 150px;
    height: 150px;
    background-color: #F78712;
}

.element-container{
    width: 1878px;
    height: 722px;
}

.element-container-top{
    width: 480px;
    height: 100px;
    background-color: var(--secondary-color);
}

.element-container-bottom{
    height: 110px;
    width: 465px;
}

/*container child*/
.element-container :nth-child(3){
    left: 24.0625em;
}

.element-container :nth-child(4){
    left: 48.1875em;
}

.element-container :nth-child(5){
    right: 24.0625em;
}

.element-container-bottom :nth-child(3){
    left: 11.08125em;
}

/*Per togliere il blu nello switch*/
.form-switch .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}

.form-switch .form-check-input:checked {
    background-color: #8FA693;
    border-color: #8FA693;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}
/*---*/

.hide {
    display: none;
}

.pop{
    width: 497px;
    height: 284px;
    background-color: var(--primary-color);
}

.triangle {
    right: 920px;
    top: 775px;
    transform: rotate(90deg);
}

.visibility{
    visibility: hidden;
}

.white-text{
    color: var(--primary-color) ;
    font-family: "Bauhaus Std Demi";
}

.white-text-medium{
    color: var(--primary-color) ;
    font-family: "Bauhaus Std Medium";
}
