@font-face {
    font-family: "Bauhaus Std Demi";
    src: url("/font/Bauhaus\ Std\ Demi.otf");
}

@font-face {
    font-family: "Bauhaus Std Medium";
    src: url("/font/Bauhaus\ Std\ Medium.otf");
}

:root {
    --primary-color: #FCFBF7;
    --secondary-color: #353938;
}

/*----------------------------------*/
.beige-column{
    width: 1280px;
}

.black-column{
    width: 640px;
    height: 1080px;
    background-color: var(--secondary-color);
}

.block-green{
    width: 485px;
    height: 366px;
    background-color: #45734C;
}

.block-green :nth-child(1){
    height: 366px;
    width: 366px;
}

.black-text {
    color: var(--secondary-color);
    font-family: "Bauhaus Std Demi";
}

.black-text-medium {
    color: var(--secondary-color);
    font-family: "Bauhaus Std Medium";
}

.btn-orange{
    width: 77px;
    height: 77px;
    background-color: #F78712;
}

.ico-danger{
    width: 77px;
    height: 77px;
    border: 6px solid #F78712;
}
.ico-blue{
    background-color: #61A5FF;
}
.ico-yellow{
    background-color: #FFBB00;
}
.ico-red{
    background-color: #C70039;
}
.ico-purple{
    background-color: #AC02CA;
}
.infodett-custom-width{
    width: 80% !important;
}


.decoration-green{
    left: 511px;
}

.img-decoration{
    width: 303px;
    height: 303px;
    top: 129px;
    left: 768px;
}

.img-decoration-2{
    width: 303px;
    height: 303px;
    top: 648px;
    left: 768px;
}

.section-1{
    width: 498px;
    /*top: 86px;*/
}

.section-text{
    width: 392px;
    left: 120px;
}

.section-text-2{
    width: 630px;
    top:80px;
    left: 1100px;
}

.white-text {
    color: var(--primary-color);
    font-family: "Bauhaus Std Demi";
}

.white-text-medium {
    color: var(--primary-color);
    font-family: "Bauhaus Std Medium";
}
