@font-face {
    font-family: "Bauhaus Std Demi";
    src: url("/font/Bauhaus\ Std\ Demi.otf");
}

@font-face {
    font-family: "Bauhaus Std Medium";
    src: url("font/Bauhaus\ Std\ Medium.otf");
}

:root {
    --primary-color: #FCFBF7;
    --secondary-color: #353938;
}

/*----------------------------------*/
.black-text{
    font-family: "Bauhaus Std Demi";
    color: var(--secondary-color);
}

.black-text-medium{
    font-family: "Bauhaus Std Medium";
    color: var(--secondary-color);
}

.btn-black-search{
    background-color: var(--secondary-color);
    width: 94px !important;
    height: 37px;
}

.btn-orange{
    background-color: #F3BB81;
    width: 67px;
    height: 67px;
}

.btn-orange-click{
    background-color:#F78712 ;
}

.card{
    width: 400px;
    height: 125px !important;
    background-color: var(--primary-color) !important;
}

.decoration-orange{
    width: 385px;
}

.decoration-orange :nth-child(3){
    left: 105px;
}

.decoration-orange :nth-child(4){
    left: 210px;
}

.hide{
    display: none;
}

.section-card{
    width: 544px;
    height: 622px;
    background-color: #CED7CF;
}

.section-green{
    width: 544px;
    height: 1026px;
    background-color: #45734C;
}

.section-text{
    background-color: #45734C;
}

.search-bar{
    width: 390px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-family: "Bauhaus Std Medium";
    height: 37px;
}

.search-bar:focus{
    outline:none;
    border-color: #8FA693;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.section-image{
    width: 1920px;
    height: 1080px;;
}

.visibility{
    visibility: hidden;
}

.white-text{
    font-family: "Bauhaus Std Demi";
    color: var(--primary-color);
}

.white-text-medium{
    font-family: "Bauhaus Std Medium";
    color: var(--primary-color) !important;
}

