@font-face {
    font-family: "Bauhaus Std Demi";
    src: url("/font/Bauhaus\ Std\ Demi.otf");
}

@font-face {
    font-family: "Bauhaus Std Medium";
    src: url("font/Bauhaus\ Std\ Medium.otf");
}

:root {
    --primary-color: #FCFBF7;
    --secondary-color: #353938;
}

/*----------------------------------*/

.black-text {
    color: var(--secondary-color);
    font-family: "Bauhaus Std Demi";
}
.black-text-medium{
    color: var(--secondary-color);
    font-family: "Bauhaus Std Medium";
}

.blue-circle{
    background-color: #61A5FF;
    width: 29px;
    height: 29px;
}

.btn-black-search {
    background-color: #353938;
    width: 209px;
    height: 37px;
}

.btn-search-bar {
    width: 94px; 
    height: 37px;
    background-color: var(--secondary-color);
}

.danger{
    top:589px;
    left:47px;
    width: 530px;
}

/*Per togliere il blu nella barra di ricerca*/
.form-control:focus {
    border-color: #8FA693 !important;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
    font-family: "Bauhaus Std Medium";
    font-size: 20px;
}
/*---*/

input.form-check-input:checked {
    background-color: #45734C !important;
    border-color: #45734C !important;
}

.legend{
    top: 50px;
    left: 46px;
}

.legend-single{
    top: 160px;
    left: 68px;
    height: 133px;
}

.map{
    height: 1080px;
    width: 1920px;
}

.purple-circle{
    background-color: #AC02CA;
    width: 29px;
    height: 29px;
}

.red-circle{
    background-color: #C70039;
    width: 29px;
    height: 29px;
}

.search {
    top: 110px;
    left: 700px;
}

.search-bar {
    width: 648px !important;
    height: 37px;
    background-color: var(--primary-color);
}
.search-result {
    height: 37px;
    width: 554px;
    background-color: var(--secondary-color);
    border-color:var(--primary-color);
    border-style: solid;
    border-width: 0.5px;
    
}

.section-green{
    background-color: #45734C;
    width: 544px;
    height: 789px;
}

.white-text {
    color: var(--primary-color);
    font-family: "Bauhaus Std Demi";
}

.white-text-medium {
    color: var(--primary-color);
    font-family: "Bauhaus Std Medium";
}

.yellow-circle{
    background-color: #FFBB00;
    width: 29px;
    height: 29px;
}
.mrk-adjust-pos{
transform: translate(-50%, -50%);
}
.marker-selected{
border-radius: 50%;
border-style: solid;
border-color: #F78712;
border-width: 10px;
}
.not-found{
    background-color: var(--primary-color);
    height: 24px;
    width: 554px;
}