@font-face {
    font-family: "Bauhaus Std Demi";
    src: url("../font/Bauhaus\ Std\ Demi.otf");
}

@font-face {
    font-family: "Bauhaus Std Medium";
    src: url("../font/Bauhaus\ Std\ Medium.otf");
}

:root {
    --primary-color: #FCFBF7;
    --secondary-color: #353938;
}

.accessibility {
    width: 1170px;
    height: 683px;
    background-color: var(--primary-color);
    bottom: 0.625em;
    right: 10.125em;
}

.black-text {
    color: var(--secondary-color);
    font-family: "Bauhaus Std Demi";
}

.black-text-medium{
    font-family: "Bauhaus Std Medium";
    color: var(--secondary-color);
}

.black-block{
    width:1920px;
    height: 1080px;
    background-color: var(--secondary-color);
}

body{
    background-color: #EEEBD8;
}

.btn-black {
    background-color: #353938;
    width: 150px;
    height: 50px;
}

.btn-black-ok {
    background-color: var(--secondary-color);
    width: 94px;
    height: 37px;
}

.btn-black-search-2{
    background-color: var(--secondary-color);
    width: 94px;
    height: 37px;
}

.btn-home {
    top: 136px;
}

.btn-round-nav {
    height: 5.3em;
    width: 5.3em;
    background-color: var(--secondary-color);
    border-radius: 50%;
}

.btn-round-nav:active {
    background-color: #F78712 !important;
    border-color: #F78712 !important;
}

.btn-round-nav-3 {
    height: 60px;
    width: 60px;
    background-color: var(--secondary-color);
    border-radius: 50%;
}

.btn-round-nav-3:active {
    background-color: #F78712 !important;
    border-color: #F78712 !important;
}

.btn-round-nav-open {
    height: 5.3em;
    width: 5.3em;
    background-color: #F78712;
    border-color:#F78712;
    border-radius: 50%;
}

.btn-round-nav-open:active {
    background-color: #F78712 !important;
    border-color:#F78712 !important;
}

.btn-switch {
    width: 130px !important;
    height: 40px !important;
    background-color: #8FA693;
    border-color: #8FA693;
    margin-top: 0 !important;
}

.btn-switch-search {
    width: 47px !important;
    height: 29px !important;
    background-color: #8FA693 !important;
    border-color: #8FA693 !important;
    margin-top: 0 !important;
}

.btn-work{
    width: 150px;
    height: 150px;
    background-color: #F78712;
}

.element-container :nth-child(3) {
    left: 137px;
}

.element-container :nth-child(4) {
    left: 273px;
}

.element-container :nth-child(5) {
    left: 410px;
}

/*Per togliere il blu nello switch*/
.form-switch .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.form-switch .form-check-input:checked {
    background-position: left center;
    background-color: #8FA693;
    border-color: #8FA693;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.form-switch .form-check-input{
    background-position: right;
}
/*---*/

.hide {
    display: none;
}

.line {
    border-color: var(--primary-color);
}

.weather {
    width: 1140px;
    height: 253px;
    background-color: var(--secondary-color);
}

.navbar {
    height: 1068.97px;
    width: 100px;
}

.nav-1 {
    width: 100px;
    height: 253px;
    background-color: var(--secondary-color);
}

.nav-2 {
    top: 362px;
    left: 11px;
}

.nav-3 {
    top: 815px;
    left: 25px;
}

.nav-3 :nth-child(3) {
    top: 96.5px;
}

.open_home {
    top: 635px;
    right: 5px;
}

.pop{
    width: 497px;
    height: 284px;
    background-color: var(--primary-color);
}

.triangle {
    right: 80px;
    bottom: 55px;
}

.visibility{
    visibility: hidden;
}

.white-text {
    color: var(--primary-color);
    font-family: "Bauhaus Std Demi";
}

.white-text-medium {
    color: var(--primary-color);
    font-family: "Bauhaus Std Medium";
}

.z-4{
    z-index: 4;
}

.z-5{
    z-index: 5;
}