@font-face {
    font-family: "Bauhaus Std Demi";
    src: url("/font/Bauhaus\ Std\ Demi.otf");
}

@font-face {
    font-family: "Bauhaus Std Medium";
    src: url("font/Bauhaus\ Std\ Medium.otf");
}

:root {
    --primary-color: #FCFBF7;
    --secondary-color: #353938;
}

/* ---------------------------------- */
.black-text {
    color: var(--secondary-color);
    font-family: "Bauhaus Std Demi";
}

.black-text-medium{
    font-family: "Bauhaus Std Medium";
    color: var(--secondary-color);
}

.btn-black-search-2{
    background-color: var(--secondary-color);
    width: 94px;
    height: 37px;
}

.btn-work{
    width: 150px;
    height: 150px;
    background-color: #F78712;
}

.beige-text{
    color: #EFEBD8;
    font-family: "Bauhaus Std Demi";
}

.btn-black {
    background-color: var(--secondary-color);
    width: 600px;
    height: 150px;
}

.btn-black :nth-child(1) {
    color: var(--primary-color);
    font-family: "Bauhaus Std Demi";
}

.black-block{
    width:1920px;
    height: 1080px;
    background-color: var(--secondary-color);
}

.icon-orange {
    height: 130px;
    width: 130px;
    background-color: #F78712;
}

.play{
    top: 500px;
}

.pop{
    width: 497px;
    height: 284px;
    background-color: var(--primary-color);
}

.visibility{
    visibility: hidden;
}

.white-text {
    color: var(--primary-color);
    font-family: "Bauhaus Std Demi";
}

.white-text-medium {
    color: var(--primary-color);
    font-family: "Bauhaus Std Medium";
}