@font-face {
    font-family: "Bauhaus Std Demi";
    src: url("/font/Bauhaus\ Std\ Demi.otf");
}

@font-face {
    font-family: "Bauhaus Std Medium";
    src: url("/font/Bauhaus\ Std\ Medium.otf");
}

:root {
    --primary-color: #FCFBF7;
    --secondary-color: #353938;
}

/*----------------------------------*/

.black-text{
    font-family: "Bauhaus Std Demi";
    color: var(--secondary-color);
}

.black-text-medium{
    font-family: "Bauhaus Std Medium";
    color: var(--secondary-color);
}

.btn-orange{
    background-color: #F3BB81;
    width: 100px;
    height: 100px;
}

.btn-orange-click{
    background-color:#F78712 ;
}

.btn-black-trasport{
    background-color: var(--secondary-color);
    width: 438px;
    height: 100px;
    display: flex;
}

.btn-black-search{
    background-color: var(--secondary-color);
    width: 94px;
    height: 37px;
}

.btn-work{
    width: 150px;
    height: 150px;
    background-color: #F78712;
}

.cont-tot {
    width: 1820px;
    height: 100%;
}

.decoration-orange{
    width: 575px;
}

.decoration-orange :nth-child(3){
    left: 158px;
}

.decoration-orange :nth-child(4){
    left: 318px;
}

.error{
    color: #C70039;
}

#form-space {
    height: 170px;
}

#go-to {
    top: 135px;
}

.hide{
    display: none !important;
}

.navbar {
    display: none;
}

.not-found{
    height: 24px;
    width: 554px;
}

.pop{
    width: 497px;
    height: 284px;
    background-color: var(--primary-color);
}

.row1{
    color: #45734C !important;
}

.search-bar{
    width: 350px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-family: "Bauhaus Std Medium";
    height: 37px;
    width: 370px;
}

.search-bar:focus{
    outline:none;
    border-color: #8FA693;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.search-result {
    height: 37px;
    width: 370px;
    background-color: var(--secondary-color);
    border-color:var(--primary-color);
    border-style: solid;
    border-width: 0.5px;
    
}

#start-from {
    top: 70px;
}

.section-center {
    width: 646px;
}

.section-img{
    width: 100%;
    height: 590px;
}

.section-map{
    width: 584px;
    height: 676px;
    display: flex;
    max-height: 920px;
}

.section-green{
    width: 584px;
    height: 676px;
    background: #CED7CF;
}

.section-green > h1{
    background-color: #45734C;
}

.section-text{
    width: 575px;
}

.short-line{
    border-bottom: 1px solid #353938;
    max-width: 90%;
    width: 517px;
    height: 60px;
    font-family: "Bauhaus Std Demi";
}

.visibility{
    visibility: hidden;
}

.white-section {
    width: 551px;
    height: 920px;
    background-color: var(--primary-color);
}

.white-text-medium{
    color: var(--primary-color) !important;
    font-family: "Bauhaus Std Medium";
}

/*-- Media query --*/

@media screen and (width: 1920px) and (height: 1080px) {
    .navbar {
        display: contents !important; 
    }

    .cont-tot{
        height: 1080px;
    }
}

@media screen and (max-width: 992px) { 
    .cont-tot{
        width:fit-content;
    }

    .section-table {
        width: 100%;  
    }

    .section-center{
        width: 100%;
    }

    .section-green{
        width: 80%;
    }

    .section-map{
        width: 80%;
    }

    .white-section {
        width: 75%; 
    }

    .short-line {
        width: 80%; 
    }

    
}

@media screen and (min-width: 1921px) {
    .cont-tot{
        width: 100%;
        height: 100% !important;
    }

    .btn-black-trasport{
        display: none !important;
    }

    .section-map{
        width: 90%;
    }
    
    .section-green{
        width: 90%;
    }

    .white-section{
        width: 90%;
        height: 100% !important;
    }
}

